section {
    margin-top: 20px;
}

.letter-list {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: -1px;
    box-sizing: border-box;
    border: 1px solid #aaa;
}

.code-input,.code-number {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1;
    left: 1;
}

.code-number {
    pointer-events: none;
    padding-top: 1px;
    padding-left: 3px;
    font-size: 0.9rem;
}

.code-input {
    text-align: center;
    border: none;
    padding: 0;
    font-size: 1.2rem;
}

.code-grid {
    display: inline-block;
    border: 2px solid black;
    padding-right: 1px;
    padding-bottom: 1px;
}

.grid-row {
    height: 36px;
    width: 100%;
    margin-bottom: 1px;
}

.grid-item {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 1px;
}

.grid-item div {
    height: 100%;
    width: 100%;
}

.item-letter {
    border: 1px solid black;
}

.item-block {
    border: 1px solid black;
    background-color: black;
}

.cross-off-letters {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 1px;
}

.cross-off-letters.crossedOff {
    color: #777;
    background-color: #bbb;
}