<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Codeword</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="codeword.css">
    </head>

    <body>

        <h1>Codeword</h1>

        <div id="codeword">
            <section>
                <div class="code-grid">
                    <div class="grid-row" v-for="row in grid">
                        <span class="grid-item" v-for="number in row">
                            <div class="item-block" v-if="number === 0"></div>
                            <div class="item-letter" v-else="">
                                <input class="code-input" v-model="input[number]" v-bind:class="isDone(number)"/>
                                <span class="code-number" v-if="!input[number]">{{ number }}</span>
                            </div>
                        </span>
                    </div>
                </div>
            </section>

            <section>
                <p>These are the numbers you have decoded.</p>
                <div class="letter-list" v-for="(letter, number) in input">
                    <input class="code-input" v-model="input[number]" v-bind:class="isDone(number)"/>
                    <span class="code-number" v-if="!letter">{{ number }}</span>
                </div>
            </section>

            <section>
                <p>These are the letters you have yet to use.</p>
                <span class="cross-off-letters" v-for="(done, letter) in letters" v-bind:class="{ crossedOff: done }">
                    {{ letter }}
                </span>
            </section>
        </div>

        <section>
            <h2>To do</h2>
            <ul>
                <li>Make sure styling works on mobile (using flex-box?).</li>
                <li>Make it easy to create new grids.</li>
                <li>Show letter frequencies?</li>
            </ul>
        </section>

        <script src="codeword.js"></script>

    </body>
</html>